 <header id="header" class="header" style="z-index: 2000">
        <div class="container">            
            <h1 class="logo pull-left">
                <a  href="/">
                    <span class="logo-title"><%= title1 + title2%></span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="/">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                        <li class="nav-item"><a class="scrollto" href="#docs">Docs</a></li>
                        <li class="nav-item"><a class="scrollto" href="#license">License</a></li>                        
                        <li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>
                        <% if(user){%>
                         <% user_header = JSON.parse(user)%>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                                        <img src="<%= user_header.image%>" class="img-responsive img-circle" title="<%= user_header.fullName %>" alt="<%= user_header.fullName %>.starkblogprofilepic" width="30px" height="30px">
                                    </span>
                                    <span class="user-name">
                                        <%= user_header.fullName %>
                                    </span>
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-content">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img src="<%= user_header.profile_pic%>" alt="<%= user_header.fullName %>" class="img-responsive" width="120px" height="120px" />
                                                    <p class="text-center small">
                                                        <a href="#">Change Photo</a></p>
                                                </div>
                                                <div class="col-md-7">
                                                    <span> <%= user_header.fullName %></span>
                                                    <p class="text-muted small">
                                                        <%= user_header.email%></p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="btn btn-default btn-xs"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a>
                                                    <a href="#" class="btn btn-default btn-xs"><i class="fa fa-address-card-o" aria-hidden="true"></i> Contacts</a>
                                                    <a href="#" class="btn btn-default btn-xs"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
                                                    <a href="#" class="btn btn-default btn-xs"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Help!</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navbar-footer">
                                            <div class="navbar-footer-content">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="<%= logout_url %>" class="btn btn-default btn-sm pull-right"><i class="fa fa-power-off" aria-hidden="true"></i> Sign Out</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                                <% } %>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header>