<section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title"><%= title1 %><span class="highlight"><%= title2 %></span></h2>
            <p class="intro"><%= hero_desc %></p>
            <% if(user){%>
            <span class="highlight">Hello <%= user.fullName.split(' ')[0] %></span>
                <a class="btn btn-cta-primary" href="<%= logout_url %>" >Logout</a>
            <% } else { %>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="<%= signup_url %>" >Signup</a>
                <a class="btn btn-cta-primary" href="<%= login_url %>" >Login</a>
            </div>
            <% } %>
            <ul class="meta list-inline">
                <li><a class="github-button" href="https://github.com/ezio-auditore/BlogFullStack" target="_blank">View on GitHub</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--<li class="twitter-follow"><a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false">Follow @3rdwave_themes</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>--><!--//twitter-follow-->
                    <!--<li class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="3rdwave_themes" data-hashtags="bootstrap">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>--><!--//twitter-tweet-->
                    <div class="fb-follow" data-href="https://www.facebook.com/kaustav.majumder.5" data-layout="standard" data-size="small" data-show-faces="true"></div>
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/ezio-auditore/BlogFullStack" data-icon="octicon-star" data-count-href="/ezio-auditore/BlogFullStack/stargazers" data-count-api="/repos/ezio-auditore/BlogFullStack#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ezio-auditore/BlogFullStack on GitHub">Star</a>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/ezio-auditore" data-count-href="/ezio-auditore/followers" data-count-api="/users/ezio-auditore#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @ezio-auditore on GitHub">Follow @ezio-auditore</a>
                </ul>
            </div>
        </div>
    </section>