 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= signup_title %></title>
    <%- include includes/scripts.ejs %>
    <%- include includes/plugins.ejs %>
    <%- include includes/style.ejs %>
</head>
<body>
<%- include includes/header.ejs %>

<div class="container">


    <div class="omb_login" style="padding-top:50px" id="loginbox">
        <h3 class="omb_authTitle">Login or <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()" type="submit" class="btn btn-info">Sign up</a></h3>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-6 col-sm-2">
                <a href="/oauth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
                    <i class="fa fa-facebook visible-xs"></i>
                    <span class="hidden-xs">Facebook</span>
                </a>
            </div>
            <!--<div class="col-xs-4 col-sm-2">
                <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                    <i class="fa fa-twitter visible-xs"></i>
                    <span class="hidden-xs">Twitter</span>
                </a>
            </div>-->
            <div class="col-xs-6 col-sm-2">
                <a href="/oauth/google" class="btn btn-lg btn-block omb_btn-google">
                    <i class="fa fa-google-plus visible-xs"></i>
                    <span class="hidden-xs">Google+</span>
                </a>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">or</span>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3" >
            <div class="col-xs-12 col-sm-6">
                <form class="omb_loginForm" action="/loginAuth" autocomplete="off" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="username">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <% if(messages.length > 0){%>
                    <span class="help-block">
                        <%for(var i in messages){%>
                        Error:<%= messages[i]%>
                        </span>
                        <%}%>

                    <% }%>
                    <div style="padding-top:20px">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>
                        </div>
                </form>
            </div>
        </div>

    </div>

    <div id="signupbox" style="display:none; margin-top:80px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
            </div>
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form" action="/signupAuth" method="post">
                    <% if(messages.length > 0){%>
                    <div id="signupalert"  class="alert alert-danger">
                        <%for(var i in messages){%>
                        <p>Error:<%= messages[i]%></p>
                        <span></span>
                        <%}%>
                    </div>
                    <% }%>


                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">User Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" placeholder="User Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label for="icode" class="col-md-3 control-label">Invitation Code</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="icode" placeholder="">
                        </div>
                    </div>-->

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</input>

                        </div>
                    </div>



                </form>
            </div>
        </div>




    </div>

</div>
<% if(referer==='signup'){%>
<script>$('#loginbox').hide(); $('#signupbox').show();console.log('signup');</script>
<%  }%>
</body>
</html>